html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    padding-left: 10px;
}

#qa-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 12px;
    height: auto;
}

.qa-pair {
    margin-bottom: 15px;
    height: auto;
}

.question-textarea {
    width: 50%;
    overflow: hidden;
    resize: none;
    /* Prevents manual resizing */
    border-radius: 15px;
    padding: 12px;
    background-color: #0452b2;
    margin-bottom: 10px;
    color: #ffffff;
}

.answer-area {
    width: 100%;
    padding: 12px;
}

@media (max-width: 1080px) {
    .fixed-bottom-input {
        position: fixed;
        bottom: 0;
        width: 62%;
        height: auto;
        margin-left: 32px;
        padding: 12px;
        background-color: #fff;
        border: 1px solid black;
    }
}

/* Shrink bottom question area styles */
@media (min-width: 1080px) {
    .fixed-bottom-input {
        position: fixed;
        bottom: 0;
        width: 72%;
        height: auto;
        margin-left: 32px;
        padding: 12px;
        background-color: #fff;
        border: 1px solid black;
    }
}

/* Markdown specific css */
.message-content {
    white-space: normal;
    word-wrap: break-word;
}

.message-content pre {
    background-color: #1c1c1c;
    border: 1px solid #000000;
    border-left: 3px solid #ff6f00;
    color: #ebebeb;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.7em;
    max-width: 100%;
    overflow: auto;
    padding: 10px 10px;
    display: block;
    white-space: pre-wrap;
}

.message-content code {
    background-color: #1c1c1c;
    border-radius: 3px;
    font-family: monospace;
}